
{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h2>Imagen</h2>

    </div>
    <div class="col-4">
        <img src="../public/assets/img/diego-yo.jpg">
    </div>
</div>

{{> footer }}